
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
package-lock.json
.trace
.DS_Store
.vscode
.idea
.lh
